.navbar {
    position: sticky;
    top: 0;
    box-shadow: 0 0px 5px grey;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.gh-sponsor {
    color: #ea4aaa;
}

.navbar.is-primary .navbar-brand>a.navbar-item:hover {
    background-color: initial;
}

.navbar.is-primary .navbar-end>a.navbar-item:hover {
    color: white;
    background-color: #A4031F;
}

.navbar-item {
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .navbar>.container .navbar-brand {
        margin-left: 0;
    }

    .navbar.is-primary .navbar-end>.navbar-item {
        color: #303030;
    }

    .navbar.is-primary .navbar-end>.navbar-item:last-child {
        color: #A4031F;
    }
}

.navbar>.container {
    min-height: 2.25rem;
}

@media screen and (min-width: 1216px) {
    .navbar .container:not(.is-max-desktop) {
        max-width: 960px;
    }
}

.cta-button {
    background-color: #700215;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: #700215 0 0 5px;
}

.cta-button:hover {
    color: white;
    background-color: #A4031F;
    box-shadow: #A4031F 0 0 40px;
}

.button:focus:not(:active) {
    box-shadow: none;
}
.button:focus:hover {
    box-shadow: #A4031F 0 0 40px;
}

.button:focus,
.button:active {
    color: white;
}

.section-f {
    position: relative;
}

#presentation .columns {
    height: 80vh;
}

.separator {
    position: absolute;
    height: 50px;
    bottom: 0;
}

@media (max-width: 768px) {
    #jc-photo {
        display: none;
    }
    
    #presentation .columns {
        height: initial;
    }

    #presentation .title {
        font-size: 1rem;
    }

    #presentation .button {
        font-size: 1.5rem;
    }

    #presentation .column {
        height: 500px;
    }

    .separator {
        height: 15px;
    }

    .navbar-brand a {
        padding-left: 1rem;
    }

    .carousel iframe {
        width: 100%;
        height: 360px;
    }

    #portfolio {
        width: 100%;
    }

    #showreel {
        width: 100%;
        height: 200px;
    }
}